.musics__body {
  width: 430px;
  height: 900px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.musics__curent {
  width: 330px;
  height: 330px;
}
.musics__all {
  width: 400px;
  margin: 30px;
  background: linear-gradient(90deg, var(--green), var(--greenlight));
  height: 305px;
  overflow: scroll;
  overflow-x: hidden;
}
.musics__all::-webkit-scrollbar {
  display: block;
  width: 25px;
}
.musics__all::-webkit-scrollbar-track {
  background: var(--greenlight);
}
.musics__all::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border-radius: 20px;
  border: 5px solid transparent;
  background-clip: content-box;
}
.musics__all::-webkit-scrollbar-thumb:active {
  background-color: rgb(37, 37, 37);
}

.music {
  padding: 10px 30px;
  margin: 5px;
  cursor: pointer;
}
.music__info {
  display: flex;
  justify-content: space-between;
  height: 20px;
}
.music.focus {
  position: absolute;
  top: 0;
  left: 0;
}